* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: $grayColor;
}

a {
    color: $whiteColor;
    &:hover {
        text-decoration: none;
        color: $whiteColor;
    }
}

input {
    outline: none;
    color: $grayColor;
    border: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    @media screen and(max-width: 767px) {
        font-size: 24px;
    }
}