.header {
    background-color: $primaryColor;
    position: sticky;
    z-index: 999;
    top: 0;
    &__heading {
        font-size: 18px;
    }
    &__wrapper {
        max-width: 1360px;
        margin: 0 auto;
    }
    &__mobile {
        background: url("/img/photo.jpg");
        background-size: cover;
        background-position: center;
    }
    &__menu {
        list-style-type: none;
    }
    &__link {
        color: $secondaryColor;
        &:hover,
        &:active {
            text-decoration: none;
            color: $tertiaryColor;
        }
        @media screen and(max-width:767px) {
            color: $whiteColor;
            font-size: 25px;
            line-height: 50px;
        }
    }
    &__icon {
        font-size: 20px;
        cursor: pointer;
    }
}

.icon:hover,
.icon:active {
    color: $tertiaryColor;
}

.gamburger {
    border-bottom: 2px solid $whiteColor;
    width: 20px;
    display: block;
    height: 7px;
}


/*.header__navbar.expanded .header__nav {
    background: -o-linear-gradient( left, var(--main-color) 63%, var(--white-color) 65%);
    background: -webkit-gradient( linear, left top, right top, color-stop(63%, var(--main-color)), color-stop(65%, var(--white-color)));
    background: linear-gradient( to right, var(--main-color) 63%, var(--white-color) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__navbar.expanded .header__icon,
.header__menuSearch {
    position: absolute;
}*/