.section {
    font-size: 20px;
    color: $primaryColor;
    &__img {
        height: 372px;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    &__title {
        &:hover {
            opacity: 0.8;
        }
    }
    a {
        color: $primaryColor;
    }
}