.section {
    font-size: 20px;
    color: $primaryColor;
    &__img {
        height: 372px;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    &__title {
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
    &__details {
        height: 440px;
        &:hover {
            opacity: 1;
        }
    }
    &__detailsTitle {
        font-size: 30px;
        letter-spacing: 2px;
    }
    &__description {
        color: $darkGray;
        font-size: 17px;
        letter-spacing: 1px;
        @media screen and(min-width: 992px) {
            line-height: 35px;
            font-size: 20px;
        }
    }
    &__icon {
        font-size: 35px;
        cursor: pointer;
        color: $primaryColor;
    }
}